In [206]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float
from warnings import filterwarnings
filterwarnings('ignore', category=pymysql.Warning)

In [207]:
meas = pd.read_csv("clean_hawaii_measurements.csv")
station = pd.read_csv("clean_hawaii_stations.csv")

In [208]:
meas.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [209]:
station.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [210]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [211]:
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

class Measurment(Base):
    __tablename__ = 'measurment'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [212]:
Base.metadata.create_all(engine)
Base = automap_base()
Base.prepare(engine, reflect=True)

from sqlalchemy.orm import Session
session = Session(bind=engine)

In [213]:
station.to_sql(name='station', con=engine, if_exists = 'append', index=False)

In [214]:
meas.to_sql(name='measurment', con=engine, if_exists = 'append', index=False)

In [216]:

measurment = Base.classes.measurment

for row in session.query(measurment.id, measurment.station,measurment.date,measurment.prcp,measurment.tobs).limit(10).all():
    print(row)

(1, 'USC00519397', '2010-01-01', 0.08, 65)
(2, 'USC00519397', '2010-01-02', 0.0, 63)
(3, 'USC00519397', '2010-01-03', 0.0, 74)
(4, 'USC00519397', '2010-01-04', 0.0, 76)
(5, 'USC00519397', '2010-01-07', 0.06, 70)
(6, 'USC00519397', '2010-01-08', 0.0, 64)
(7, 'USC00519397', '2010-01-09', 0.0, 68)
(8, 'USC00519397', '2010-01-10', 0.0, 73)
(9, 'USC00519397', '2010-01-11', 0.01, 64)
(10, 'USC00519397', '2010-01-12', 0.0, 61)

In [218]:
sql_query = """
select
*
from station
"""
station = pd.read_sql_query(sql_query, engine)
station.head()

,id,station,name,latitude,longitude,elevation
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,2,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6